<%- include('./templates/head') %> <%- include('./templates/header') %> <%-
include('category-bar') %>

<main class="detail">
  <div
  class="detail-top justify-content-between pb-3 mb-3 d-flex flex-row align-items-center"
>
  <a href="/"><p class="pl-4">Home</p></a>
  <i class="fa-solid fa-xs fa-angle-right"></i>
 <div class="cate-top"><a href="/menu/<%= categoryId %>"> <%= category %></a></div>
  <i class="fa-solid fa-xs fa-angle-right"></i>
  <p><%= name %></p>
</div>
  <!-- add more detail of particualr menu such as size, price, quantity and recommandation menu -->
      <div class="row">
        <% pizzas.forEach( pizza => { %> <% let cateName =
          pizza.category[0].name %>
        <div
          class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center pizza mt-5"
        >
         <a href="/detail/<%= pizza._id %>"></a>
          <img
            class="pizza-img"
            src="img/<%= cateName %>/<%= pizza.name %>.png"
            alt="pizza-img"
          />
          <h4><%= pizza.name %></h4>
          <p class="price">£<%= pizza.price %></p>
          <span style="display: none"><%= pizza.category %></span>
          <div>
            <a href="/add-to-cart/<%= pizza._id %>"><button class="btn btn-outline-secondary addToCart">
              <img src="img/icon/shopping-bag.svg" alt="shopping-bag" width="10px">
              Add to cart</button></a>
            <a href="/buy-now/<%= pizza._id %>"><button class="btn btn-success">Buy now</button></a>
          </div>
          </div>
        </div>
    
      </div>
      <% }) %>
  </div>
</main>

<%- include('./templates/footer') %>
