<%- include('head') %> <%- include('header') %>
<main class="detail">
  <div
    class="detail-top justify-content-between pb-3 mb-3 d-flex flex-row align-items-center"
  >
    <a href="/"><p class="pl-4">Home</p></a>
    <i class="fa-solid fa-xs fa-angle-right"></i>
    <div class="cate-top"><%= category %></div>
    <i class="fa-solid fa-xs fa-angle-right"></i>
    <p><%= name %></p>
  </div>
</main>

<%- include('footer') %>
