<!-- add include -->
<%- include('head') %> <%- include('header') %> <% let currentCate = "Pizza" %>

<div class="con">
  <div class="pizza-promote">
    <h1>SUPREME BBQ</h1>
  </div>
</div>

<div id="category-bar">
  <% categories.forEach(category => { %>
  <div class="category" data-filter="<%= category.name %>">
    <div><i class="fa-solid fa-xl fa-<%= category.icon %>"></i></div>
    <p><%= category.name %></p>
  </div>
  <% }); %>
</div>

<!-- add list of items for each menu -->
<div class="row">
  <% pizzas.forEach( pizza => { %> <% let cateName =
  pizza.category.toUpperCase() %>
  <div
    data-category="<%= pizza.category %>"
    class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center pizza mt-5"
  >
    <a href="/detail/<%= pizza.name %>">
      <img
        class="pizza-img"
        src="img/<%= cateName %>/<%= pizza.name %>.png"
        alt="pizza-img"
      />
      <h4><%= pizza.name %></h4>
      <p class="price">£<%= pizza.price %></p>
      <div>
        <button class="btn btn-outline-secondary">Add to cart</button>
        <button class="btn btn-success">Buy now</button>
      </div>
    </a>
  </div>
  <% }) %>
</div>

<!-- footer -->
<%- include('footer') %>

<!-- add categories details -->
<script>
  document
    .querySelector("#category-bar")
    .querySelectorAll("div")[0]
    .classList.add("current-category");

  (function () {
    let field = document.querySelector(".row");
    let li = Array.from(field.children);

    function FilterProduct() {
      let indicator = document.querySelector("#category-bar").children;

      this.run = function () {
        for (let i = 0; i < indicator.length; i++) {
          indicator[i].onclick = function () {
            for (let x = 0; x < indicator.length; x++) {
              indicator[x].classList.remove("current-category");
            }
            this.classList.add("current-category");
            const displayItems = this.getAttribute("data-filter");

            for (let z = 0; z < li.length; z++) {
              li[z].style.transform = "scale(0)";
              li[z].classList.add("hide");
              setTimeout(() => {
                li[z].style.display = "none !important";
              }, 500);

              if (
                li[z].getAttribute("data-category") == displayItems ||
                displayItems == "all"
              ) {
                li[z].style.transform = "scale(1)";
                li[z].classList.remove("hide");
                setTimeout(() => {
                  li[z].style.display = "block";
                }, 500);
              }
            }
          };
        }
      };
    }

    new FilterProduct().run();
  })();
</script>
