<!-- add include -->
<%- include('./templates/head') %> <%- include('./templates/header') %> <%-
include('category-bar') %>

<div class="con">
  <div class="pizza-promote">
    <h1>SUPREME BBQ</h1>
  </div>
</div>

<div id="category-bar">
  <% categories.forEach(category => { %>
  <div class="category" data-filter="<%= category.name %>">
    <div><i class="fa-solid fa-xl fa-<%= category.icon %>"></i></div>
    <p><%= category.name %></p>
  </div>
  <% }); %>
</div>

<!-- add list of items for each menu -->
<div class="row">
  <% pizzas.forEach( pizza => { %> <% let cateName =
  pizza.category.toUpperCase() %>
  <div
    data-category="<%= pizza.category %>"
    class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center pizza mt-5"
  >
    <a href="/detail/<%= pizza.name %>">
      <img
        class="pizza-img"
        src="img/<%= cateName %>/<%= pizza.name %>.png"
        alt="pizza-img"
      />
      <h4><%= pizza.name %></h4>
      <p class="price">£<%= pizza.price %></p>

      <div>
        <a href="/add-to-cart/<%= pizza._id %>"
          ><button class="btn btn-outline-secondary addToCart">
            <img
              src="img/icon/shopping-bag.svg"
              alt="shopping-bag"
              width="10px"
            />
            Add to cart
            <a href="/buy-now/<%= pizza._id %>"
              ><button class="btn btn-success">Buy now</button></a
            >
          </button></a
        >

        <button class="btn btn-success">Buy now</button>
      </div>
    </a>
  </div>
  <% }) %>
</div>

<!-- footer -->
<%- include('./templates/footer') %>
