<%- include(./templates/head') %> <%- include('./templates/header') %> <%-
include('./templates/top-path') %>
<main id="order-status">
  <div class="customer-info">
    <div>
      <b>ORDER PLACED</b>
      <p><%= date %></p>
    </div>

    <div>
      <b>TOTAL</b>
      <p>£<%= carts.totalPrice.toFixed(2) %></p>
    </div>

    <div>
      <b>SHIP TO</b>
      <p><%= address.firstname %> <%= address.lastname %></p>
    </div>

    <div>
      <b>ORDER</b>
      <p><%= id %></p>
    </div>
  </div>

  <div class="status">
    <p>Order Status: <b><%= status.description %></b></p>
    <p>Estimated Delivery Time: 30 minutes</p>
  </div>

  <!-- progress bar -->
  <ol class="progress-bar">
    <li class="is-complete" data-step="">
      <img class="clock-icon" src="img/ICON/clock-icon.svg" alt="clock-icon" />
      <p>Queue</p>
    </li>
    <li class="is-active" data-step="">
      <img class="pot-icon" src="img/ICON/CookingPot.svg" alt="CookingPot" />
      <p>Cook</p>
    </li>
    <li data-step="" class="progress__last">
      <img class="drive-icon" src="img/ICON/drive.svg" alt="drive" />
      <p>Delivered</p>
    </li>
  </ol>
  <!-- display when order status is delivery -->
  <% if(status.name === "Delivery" || status.name === "Complete") { %>
  <!-- customer's shipping information -->
  <div class="shipped">
    <div>
      <h5>SHIPPING INFORMATION</h5>
      <p>
        <%= address.firstname %> <%= address.lastname %><br />
        <%= address.address %> <br />
        <%= address.city %>, <%= address.postcode %> <br />
        <%= address.phone %>
      </p>
    </div>

    <div id="map" style="height: 180px; width: 700px"></div>
  </div>
  <% } %>
</main>

<script>
  // change page icon's color
  document.getElementById("moto-icon-show").style.display = "none";
  document.querySelectorAll(".bottom-nav li")[2].style.color = "white";

  // target the progress bar
  const progressBar = document.querySelector(".progress-bar");
  // create map
  var map = L.map("map").setView([18.800761219810965, 98.95029908488856], 13);

  // map tile
  L.tileLayer(
    "https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png",
    {
      maxZoom: 17,
      attribution:
        '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
    }
  ).addTo(map);

  // market icon
  var taxiIcon = L.icon({
    iconUrl: "../img/icon/taxi.png",
    iconSize: [38, 38],
  });

  // create customer location icon
  var custIcon = L.icon({
    iconUrl: "../img/icon/red-location.png",
    iconSize: [38, 38],
  });

  // create restaurant icon
  var restIcon = L.icon({
    iconUrl: "../img/icon/red-point.png",
    iconSize: [12, 12],
  });
  // add market
  var restaurantMarker =  L.marker([18.800761219810965, 98.95029908488856], {icon: restIcon}).addTo(map);
        var restaurantMarker =  L.marker([18.800761219810965, 98.95029908488856], {icon: taxiIcon}).addTo(map);
        var customerMarket =  L.marker([+<%= address.lat %>, <%= address.lon %>], {icon: custIcon}).addTo(map);
</script>
<%- include('./templates/footer') %>
