<%- include(./templates/head') %> <%- include('./templates/header') %> <%-
include('./templates/top-path') %>
<main id="order-status">
  <div class="customer-info">
    <div>
      <b>ORDER PLACED</b>
      <p><%= date %></p>
    </div>

    <div>
      <b>TOTAL</b>
      <p>£<%= carts.totalPrice.toFixed(2) %></p>
    </div>

    <div>
      <b>SHIP TO</b>
      <p><%= address.firstname %> <%= address.lastname %></p>
    </div>

    <div>
      <b>ORDER</b>
      <p><%= id %></p>
    </div>
  </div>

  <div class="status">
    <p>Order Status: <b><%= status.description %></b></p>
    <p>Estimated Delivery Time: 30 minutes</p>
  </div>

  <!-- progress bar -->
  <ol class="progress-bar">
    <li class="is-complete" data-step="">
      <img class="clock-icon" src="img/ICON/clock-icon.svg" alt="clock-icon" />
      <p>Queue</p>
    </li>
    <li class="is-active" data-step="">
      <img class="pot-icon" src="img/ICON/CookingPot.svg" alt="CookingPot" />
      <p>Cook</p>
    </li>
    <li data-step="" class="progress__last">
      <img class="drive-icon" src="img/ICON/drive.svg" alt="drive" />
      <p>Delivered</p>
    </li>
  </ol>
</main>
<%- include('footer') %>
